detail/DemoXml/validation/clinicalTrial-xsd.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ClinicalTrial">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CTRINumber" type="xs:string" />
                <xs:element name="LastModifiedOn" type="xs:string" />
                <xs:element name="PostGraduateThesis" type="xs:string" />
                <xs:element name="TypeofTrial" type="xs:string" />
                <xs:element name="TypeofStudy" type="xs:string" />
                <xs:element name="SecondaryIDsIfAny">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="one">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SecondaryID" type="xs:string" />
                                        <xs:element name="Identifier" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DetailsofPersonalInvestigator">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="Designation" type="xs:string" />
                            <xs:element name="Affiliation" type="xs:string" />
                            <xs:element name="Phone" type="xs:unsignedInt" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>